.BG{
    width: auto;
    height: 9rem;
    background-color: #311273;
    border-radius: 10px;
}

.Titulo{
   padding-top: 25px;
    text-align: center;
    color: white;
    padding-bottom: 25px;
}
.PalabrasTraducir{
    text-align: center;
    color: green;
}

.contenedor {
    display: flex;
    flex-wrap: wrap; 
}

.izquierda {
    flex: 1;
    background-color: var(--bg);
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    height: 500px;
    color: var(--blanco);
    justify-content: center;
    text-align: center;
    min-width: 300px; 
}

.derecha {
    flex: 1;
    background-color: var(--blanco);
    height: 500px;
    min-width: 300px; 
}

.derecha h1 {
    font-size: 50px;
    margin-left: 50px;
}

.derecha p {
    font-size: 30px;
    margin-left: 50px;
}

.Icon {
    margin-top: 120px;
    justify-content: center;
}
.Violeta{
    background-color: #9073DE;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 550px;
    margin-left: auto;
    margin-right: 50px;
    height: 200px;

}
.Violeta h2 {
    margin-top: 20px;
    font-size: 30px;
}
.form{
    margin-left: 50px;
    border-style: solid;
    margin-right: 50px;
    border-radius: 10px;
    padding: 10px;
}
.btn{
    background-color: white;
    border-style: none;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    color:  #9073DE;
    animation: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: #311273;
    color: #9073DE;
}
.contenido{
    color: #9073DE;
}
.derecha h2{
    color: #9073DE;
    font-size: 30px;
}
.tr{
    margin-left: 50px;
    border-style: solid;
    margin-right: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    color: #9073DE;
}